// <!-- ===================== Homework ===================== -->
// <!-- 1 - topshiriq -->

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1 {
	text-align: center;
}
.container1 {
	width: 500px;
	border: 5px solid blue;
	margin: 0 auto;
	padding: 10px;
	margin-top: 40px;
	span {
		display: flex;
		align-items: center;
		gap: 10px;
		input {
			width: 70%;
			height: 30px;
			padding: 10px;
		}
		#btn1 {
			height: 30px;
			width: 25%;
			font-size: 20px;
			border-radius: 5px;
		}
	}
	#result {
		width: 97%;
		height: 30px;
		padding: 10px;
		border-radius: 5px;
		border: 1px solid black;
		margin-top: 15px;
	}
	.btn {
		display: flex;
		align-items: center;
    gap: 20px;
		button {
			height: 30px;
			width: 25%;
			font-size: 20px;
			border-radius: 5px;
			margin-top: 15px;
		}
	}
	#total {
		width: 97%;
		height: 30px;
		padding: 20px;
		border-radius: 5px;
		border: 1px solid black;
		margin-top: 15px;
		display: flex;
		align-items: center;

		h3 {
			font-size: 20px;
		}
	}
}

// <!-- 2 - topshiriq -->

// .container2 {
// 	width: 600px;
// 	padding: 20px;
// 	margin: 0 auto;
// 	border: 4px solid;
// 	display: flex;
// 	flex-direction: column;
// 	gap: 20px;

// 	span {
// 		display: flex;
// 		align-items: center;
// 		gap: 20px;
// 		input {
// 			width: 70%;
// 			height: 40px;
// 			border: 2px solid;
// 			padding: 10px;
// 		}
// 		button {
// 			width: 100px;
// 			height: 30px;
// 			font-size: 20px;
// 		}
// 	}
// 	.btn {
// 		display: flex;
// 		align-items: center;
// 		gap: 30px;
// 		button {
// 			width: 120px;
// 			height: 30px;
// 			font-size: 20px;
// 		}
// 	}
// 	#result {
// 		width: 100%;
// 		height: 50px;
// 		border: 2px solid;
// 		display: flex;
// 		align-items: center;
// 		padding: 20px;
// 		overflow: hidden;
// 	}
// }

// <!-- 3 - topshiriq -->

// .container3 {
// 	width: 500px;
// 	border: 4px solid blue;
// 	margin: 0 auto;
// 	padding: 10px;

// 	.cover {
// 		display: flex;
// 		align-items: center;
// 		gap: 10px;
// 		input {
// 			width: 180px;
// 			height: 30px;
// 			padding: 10px;
// 		}
// 		button {
// 			width: 60px;
// 			height: 25px;
// 		}
// 	}
// 	.div {
// 		width: 100%;
// 		border: 2px solid;
// 		margin-top: 30px;
// 		padding: 15px;
// 	}
// }

// <!-- 4 - topshiriq -->

// .container4 {
// 	width: 500px;
// 	border: 4px solid blue;
// 	margin: 0 auto;
// 	padding: 10px;
// 	span {
// 		display: flex;
// 		align-items: center;
// 		gap: 10px;
// 		input {
// 			width: 70%;
// 			height: 30px;
// 			border: 2px solid;
// 			padding: 10px;
// 		}
// 		button {
// 			width: 70px;
// 			height: 25px;
// 			font-size: 18px;
// 		}
// 	}
// 	.res {
// 		width: 87%;
// 		height: 30px;
// 		border: 2px solid black;
// 		padding: 10px;
// 		margin-top: 20px;
// 		display: flex;
// 		align-items: center;
// 	}
// 	#btn2 {
// 		width: 200px;
// 		height: 30px;
// 		margin-top: 20px;
// 	}
// 	.total {
// 		width: 87%;
// 		height: 30px;
// 		border: 2px solid black;
// 		padding: 10px;
// 		margin-top: 20px;
// 		display: flex;
// 		align-items: center;
// 	}
// }
