.container {
	width: 700px;
	height: 600px;
	border: 3px solid black;
	padding: 50px;

	.top {
		display: flex;
		gap: 150px;
		align-items: center;

		button {
			padding: 10px 15px;
			border: 5px solid blue;
			font-size: 20px;
			font-family: sans-serif;
		}

		h3 {
			font-family: sans-serif;
			width: 300px;
			height: 100px;
		}
	}

	.bottom-cards {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin: 60px;
		gap: 50px;

		.card {
			width: 100px;
			height: 100px;
			border-radius: 20px;
			border: 3px solid blue;
			text-align: center;
			font-size: 24px;
			font-family: sans-serif;
			font-weight: 900;
		}
	}
}
