// .container {
// 	width: 700px;
// 	height: 600px;
// 	border: 3px solid black;
// 	padding: 50px;

// 	.top {
// 		display: flex;
// 		gap: 150px;
// 		align-items: center;

// 		button {
// 			padding: 10px 15px;
// 			border: 5px solid blue;
// 			font-size: 20px;
// 			font-family: sans-serif;
// 		}

// 		h3 {
// 			font-family: sans-serif;
// 			width: 300px;
// 			height: 100px;
// 		}
// 	}

// 	.bottom-cards {
// 		display: flex;
// 		align-items: center;
// 		flex-wrap: wrap;
// 		margin: 60px;
// 		gap: 50px;

// 		.card {
// 			width: 100px;
// 			height: 100px;
// 			border-radius: 20px;
// 			border: 3px solid blue;
// 			text-align: center;
// 			font-size: 24px;
// 			font-family: sans-serif;
// 			font-weight: 900;
// 		}
// 	}
// }

// homework

// .container {
// 	width: 800px;
// 	height: 700px;
// 	border: 3px solid black;
// 	margin: 0 auto;
// 	display: flex;
// 	align-items: center;

// 	.btn {
// 		display: flex;
// 		align-items: center;
// 		flex-direction: column;
// 		gap: 30px;
// 		button {
// 			padding: 10px 30px;
// 			font-family: sans-serif;
// 			font-size: 20px;
// 			margin: 30px;
// 			border-radius: 10px;
// 			color: blue;
// 		}
// 	}
// 	.card1 {
// 		width: 80%;
// 		display: flex;
// 		align-items: center;
// 		gap: 10px;
// 		.card {
// 			width: 30%;
// 			height: 500px;
// 			border: 3px solid blue;
// 			border-radius: 20px;
// 			margin: 0 auto;
// 			display: flex;
// 			align-items: center;
// 			flex-direction: column;
// 			gap: 10px;

// 			.circle {
// 				width: 150px;
// 				height: 150px;
// 				border-radius: 50%;
// 				border: 2px solid black;
// 				margin-top: 5px;

// 				text-align: center;
// 				font-size: 65px;
// 				padding-top: 20px;
// 				font-weight: 900;
// 				color: aliceblue;
// 				display: flex;
// 				justify-content: center;
// 			}
// 		}
// 	}
// }

// topshiriq

.cover {
	width: 300px;
	height: 400px;
	border: 4px solid black;
	display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 30px;

  #btn{
    width: 80px;
    height: 40px;
    font-size: 20px;
  }
  #changeColor{
    width: 300px;
    height: 100px;
    border: 2px solid black;
  }
}
