/* .strike {
	text-decoration: line-through;
	color: red;
	font-weight: bold;
}
.normal {
	color: black;
	font-weight: bold;
} */

/*  <!-- Homework - Task - 3 --> */

/* #box {
	width: 300px;
	height: 300px;
	border: 3px solid black;
	border-radius: 20px;
	margin-top: 200px;
} */

/*  <!-- Homework - Task - 4 --> */

#products {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}

#products .card {
	width: 250px;
}
