/* .father {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 50px;
}
.box {
	width: 150px;
	height: 150px;
	background-color: black;
}

.section {
	width: 500px;
	height: 500px;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.blue-section {
	border: 2px solid blue;
}
.red-section {
	border: 2px solid red;
} */
/* ===================== */

/* .my-section {
	width: 30%;
	height: 400px;
	border: 2px solid;
	border-radius: 10px;
}

#new_tasks {
	height: 88%;
	padding: 3px 7px;
}
#progress_tasks {
	height: 88%;
	padding: 3px 7px;

}
#finish_tasks {
	height: 88%;
	padding: 3px 7px;

} */

/* ================ */

/* .todo-item {
    padding: 10px;
    background: #f1f1f1;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: grab;
}

.todo-item.dragging {
    opacity: 0.5;
} */
